/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*open color 
main color - #087f5b
text color - #343a40
*/

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }
  
  /* ------------------------ */
  /* GENERAL STYLES */
  /* ------------------------ */
  body {
    font-family: 'Inter', sans-serif;
    /* border-bottom:8px solid #087f5b; */
  }

  .accordian{
    width: 700px;
    margin: 100px auto;

  }

  .accordian{
    width: 500px;
    height: 2000px;
    margin:100px auto;
    color: #087f5b;
    vertical-align: middle;

    display: flex;
    flex-direction: column;
    gap: 24px;

  
  }

  .number, .text{
    font-size: larger;
    font-weight: 700;

  }

  .item{
    color: #087f5b;
    padding: 24px;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);

   display: grid;
   grid-template-columns: auto 1fr auto;
   column-gap: 24px;
   row-gap: 32px;
   align-items: center;

   
   border-top: 5px solid #087f5b;
   background-color:rgb(255, 255, 255);
   
  }

  .number{
    color: #087f5b;
    padding: 5px;
  }

  .text{
    color: #087f5b;
  }

  .icon{
    width: 24px;
    height: 24px;
    padding: 5px;
  
  }

  .hidden-box{
    grid-column:2;
  }

  .hidden-box p{
    padding-bottom: 16px;
  }

  .hidden-box ul{
    margin-left: 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
