body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;

}



.slider-container{
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.3);
}

.image-container{
    display: flex;
    /* transition: transform 0.4s ease-in-out; */

}

.btn{
    position:absolute;
    top: 50%;
    font-size: 20px;
    color: aliceblue;
    opacity: .5;
    cursor: pointer;
}
.btn.prev{
    left: 10px;

}

.btn.next{
    right: 10px;
    
}

.btn:hover{
    opacity: 1;
}
